# ==========================
# Operating System
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak
*.old

# ==========================
# Power BI
# ==========================
*.pbix.autosave

# ==========================
# Tableau
# ==========================
*.twb~
*.twbx~

# ==========================
# MySQL
# ==========================
*.sql.bak